body{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background:  #222831;
    overflow: hiden;
    position: relative;
  }
  ul{
    position: relative;
    display: flex;
    margin-left: 25%;
    flex-direction: column;
    z-index: 50;
  }
  ul li{
    list-style-type: none;
    margin-bottom: 10px;
  }
  ul li a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: #00adb5;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
    font-size: 20px;
    color: #eeeeee;
    font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 27px;
    padding: 10px 32px;
    font-weight: 700;
  }
  
  ul li:before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #52e6ed;
    line-height: 27px;
    padding: 10px 32px;;
    font-size: 14rem;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
    font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  }
  
  ul li:hover::before{
    opacity: 0.2;
    letter-spacing: 0px;
  
  }
  
  ul:hover li a{
    opacity: 0;
  }
  
  ul li a:hover{
  transform: scale(1.4);
  z-index: 1000;
  background: #69b9bd; ;
  opacity: 1;
  color: white;
  }
  
  ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,0.8), transparent);
    transform: skewX(35deg);
    transition: 0s;
  
  }
  ul li a:hover:before{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
  }
  .image-bottom{
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
  }