body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header {
    display: flex;
    width: 100%;
    align-items: center;;
    background-color: black;
}

#photo_marcelo {
    padding-left: 2rem;
    height: 15vh;
}

#title_marcelo {
    display: flex;
    flex-direction: column;
    color: white;
    width: 30vw;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.subtitle {
    font-size: 1.2rem;
    margin-left: 1.5rem;
    margin-top: 0.2rem;
}

p {
    /* border: solid 2px white; */
    margin-top: 0px;
    margin: 0;
}

nav {
    width: 100%;
    display: flex;
}

.navList {
    list-style: none;
    margin-left: auto;
}

.navList li {
    display: inline;
    padding: 2rem;
    font-size: 1.2rem;

    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellowgreen;
}

/* MAIN */
main {
    background-color: aquamarine    ;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GRID */
#grid i{
    color: black;;
    padding: 0;
}

#grid {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3rem;
}

.box {
    height:10vh;
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* FOOTER */
footer {
    display:flex;
    align-items: center;;
    height: 4vh;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;;
    padding-left: 1rem;
}