.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: cornsilk;
}

.row div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font-size: 1.5rem;
  width: 8vw;
  color: green;
  border: none;
  background-color: transparent;
}