.bg-0 {
    background-color: red;
}

.bg-1 {
    background-color: yellow;
}

.bg-2 {
    background-color: blue;
}

.bg-3 {
    background-color: green;
}

.bg-4 {
    background-color: grey;
}

.bg-5 {
    background-color: pink;
}

.bg-6 {
    background-color: chocolate;
}

.bg-7 {
    background-color: white;
}