* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
}

#toolbar {
    height: 95vh;
    width:20vw;
    background-color: grey;
    border: solid 2px green;
}

#clearBtn {
    height: 5vh;
    width: 95%;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 2rem;
}

#palette {
    width: 95%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 5px;
    border:  2px blue;
    background-color: grey;
    margin: 5px 5px;
}

#palette div {
    /* height: 5vh; */
    /* width: 5vh; */
    border: solid 1px black;
}

#drawingGrid {
    height: 95vh;
    width: 80vw;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(100,1fr);
    grid-template-rows: repeat(50,1fr);
}

.drawingPixel {
    border: solid grey 1px;
    background-color: white;
}