<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>
<body>
    <%- include('partials/header'); %>
    <div id="container">
        <div id="search">
            <form>
                <label for="title">Title:</label>
                <input type="text" name="title" id="title">
                <input type="submit" value="Search">
            </form>
            <br><br>
            <form>
                <label for="category">Category:</label>
                <select name="category" id="category">
                    <option value="">questions</option>
                    <option value="">quiz</option>
                    <option value="">quizzes</option>
                    <option value="">aircraft</option>
                    <option value="">war</option>
                </select>
                <input type="submit" value="Search">
            </form>        
        </div>
        <%- include('partials/posts'); %>
    </div>
    <%- include('partials/footer'); %>
    <script src="search.js"></script>
</body>
</html>
