* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

form {
    font-size: 1.5rem;
    margin: 5vh;
}

main {
    height: 300vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
    margin: 5vh;
}

.card {
    display: flex;
    padding: 8px;
    height : 70vh;
    width : 25vw;
    background-color: red;
    border-radius: 25px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(200, 199, 199);
}

.card img {
    width: 80%;
    border-radius: 500px;
    margin-top: 5px;
    margin-left: 40px;
    background-color: antiquewhite;
}

.card p {
    font-size: 1.5rem;
    margin-top: 1vh;
}
